In [1]:
import pandas as pd
import numpy as np

In [2]:
GDP=pd.read_excel(r"C:\Users\iT HOME\PycharmProjects\GDP project file\gdp per capita dataset.xlsx")
GDP.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

In [3]:
GDP.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [4]:
GDP.shape

(227, 20)

In [5]:
GDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       224 non-null    float64
 7   Infant mortality (per 1000 births)  224 non-null    float64
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    float64
 10  Phones (per 1000)                   223 non-null    float64
 11  Arable (%)                          225 non-null    float64
 12  Crops (%)                           225 non-null    float64
 13  Other (%)                           225 non-null    float64
 14  Climate                             205 non-null    float64
 15  Birthrate                           224 non-null    float64
 16  Deathrate                           223 non-null    float64
 17  Agriculture                         212 non-null    float64
 18  Industry                            211 non-null    float64
 19  Service                             212 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 35.6+ KB

In [6]:
GDP['Country'].unique()

array(['Afghanistan ', 'Albania ', 'Algeria ', 'American Samoa ',
       'Andorra ', 'Angola ', 'Anguilla ', 'Antigua & Barbuda ',
       'Argentina ', 'Armenia ', 'Aruba ', 'Australia ', 'Austria ',
       'Azerbaijan ', 'Bahamas, The ', 'Bahrain ', 'Bangladesh ',
       'Barbados ', 'Belarus ', 'Belgium ', 'Belize ', 'Benin ',
       'Bermuda ', 'Bhutan ', 'Bolivia ', 'Bosnia & Herzegovina ',
       'Botswana ', 'Brazil ', 'British Virgin Is. ', 'Brunei ',
       'Bulgaria ', 'Burkina Faso ', 'Burma ', 'Burundi ', 'Cambodia ',
       'Cameroon ', 'Canada ', 'Cape Verde ', 'Cayman Islands ',
       'Central African Rep. ', 'Chad ', 'Chile ', 'China ', 'Colombia ',
       'Comoros ', 'Congo, Dem. Rep. ', 'Congo, Repub. of the ',
       'Cook Islands ', 'Costa Rica ', "Cote d'Ivoire ", 'Croatia ',
       'Cuba ', 'Cyprus ', 'Czech Republic ', 'Denmark ', 'Djibouti ',
       'Dominica ', 'Dominican Republic ', 'East Timor ', 'Ecuador ',
       'Egypt ', 'El Salvador ', 'Equatorial Guinea ', 'Eritrea ',
       'Estonia ', 'Ethiopia ', 'Faroe Islands ', 'Fiji ', 'Finland ',
       'France ', 'French Guiana ', 'French Polynesia ', 'Gabon ',
       'Gambia, The ', 'Gaza Strip ', 'Georgia ', 'Germany ', 'Ghana ',
       'Gibraltar ', 'Greece ', 'Greenland ', 'Grenada ', 'Guadeloupe ',
       'Guam ', 'Guatemala ', 'Guernsey ', 'Guinea ', 'Guinea-Bissau ',
       'Guyana ', 'Haiti ', 'Honduras ', 'Hong Kong ', 'Hungary ',
       'Iceland ', 'India ', 'Indonesia ', 'Iran ', 'Iraq ', 'Ireland ',
       'Isle of Man ', 'Israel ', 'Italy ', 'Jamaica ', 'Japan ',
       'Jersey ', 'Jordan ', 'Kazakhstan ', 'Kenya ', 'Kiribati ',
       'Korea, North ', 'Korea, South ', 'Kuwait ', 'Kyrgyzstan ',
       'Laos ', 'Latvia ', 'Lebanon ', 'Lesotho ', 'Liberia ', 'Libya ',
       'Liechtenstein ', 'Lithuania ', 'Luxembourg ', 'Macau ',
       'Macedonia ', 'Madagascar ', 'Malawi ', 'Malaysia ', 'Maldives ',
       'Mali ', 'Malta ', 'Marshall Islands ', 'Martinique ',
       'Mauritania ', 'Mauritius ', 'Mayotte ', 'Mexico ',
       'Micronesia, Fed. St. ', 'Moldova ', 'Monaco ', 'Mongolia ',
       'Montserrat ', 'Morocco ', 'Mozambique ', 'Namibia ', 'Nauru ',
       'Nepal ', 'Netherlands ', 'Netherlands Antilles ',
       'New Caledonia ', 'New Zealand ', 'Nicaragua ', 'Niger ',
       'Nigeria ', 'N. Mariana Islands ', 'Norway ', 'Oman ', 'Pakistan ',
       'Palau ', 'Panama ', 'Papua New Guinea ', 'Paraguay ', 'Peru ',
       'Philippines ', 'Poland ', 'Portugal ', 'Puerto Rico ', 'Qatar ',
       'Reunion ', 'Romania ', 'Russia ', 'Rwanda ', 'Saint Helena ',
       'Saint Kitts & Nevis ', 'Saint Lucia ', 'St Pierre & Miquelon ',
       'Saint Vincent and the Grenadines ', 'Samoa ', 'San Marino ',
       'Sao Tome & Principe ', 'Saudi Arabia ', 'Senegal ', 'Serbia ',
       'Seychelles ', 'Sierra Leone ', 'Singapore ', 'Slovakia ',
       'Slovenia ', 'Solomon Islands ', 'Somalia ', 'South Africa ',
       'Spain ', 'Sri Lanka ', 'Sudan ', 'Suriname ', 'Swaziland ',
       'Sweden ', 'Switzerland ', 'Syria ', 'Taiwan ', 'Tajikistan ',
       'Tanzania ', 'Thailand ', 'Togo ', 'Tonga ', 'Trinidad & Tobago ',
       'Tunisia ', 'Turkey ', 'Turkmenistan ', 'Turks & Caicos Is ',
       'Tuvalu ', 'Uganda ', 'Ukraine ', 'United Arab Emirates ',
       'United Kingdom ', 'United States ', 'Uruguay ', 'Uzbekistan ',
       'Vanuatu ', 'Venezuela ', 'Vietnam ', 'Virgin Islands ',
       'Wallis and Futuna ', 'West Bank ', 'Western Sahara ', 'Yemen ',
       'Zambia ', 'Zimbabwe '], dtype=object)

In [7]:
GDP['Country'].head(15)

0           Afghanistan
1               Albania
2               Algeria
3        American Samoa
4               Andorra
5                Angola
6              Anguilla
7     Antigua & Barbuda
8             Argentina
9               Armenia
10                Aruba
11            Australia
12              Austria
13           Azerbaijan
14         Bahamas, The
Name: Country, dtype: object

In [8]:
GDP['Region'].unique()

array(['ASIA (EX. NEAR EAST)         ',
       'EASTERN EUROPE                     ',
       'NORTHERN AFRICA                    ',
       'OCEANIA                            ',
       'WESTERN EUROPE                     ',
       'SUB-SAHARAN AFRICA                 ', 'LATIN AMER. & CARIB    ',
       'C.W. OF IND. STATES ', 'NEAR EAST                          ',
       'NORTHERN AMERICA                   ',
       'BALTICS                            '], dtype=object)

In [9]:
GDP['Region'].head(5)

0          ASIA (EX. NEAR EAST)
1    EASTERN EUROPE
2    NORTHERN AFRICA
3    OCEANIA
4    WESTERN EUROPE
Name: Region, dtype: object

In [10]:
GDP.describe()

,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
count,2.270000e+02,2.270000e+02,227.000000,227.000000,224.000000,224.000000,226.000000,209.000000,223.000000,225.000000,225.000000,225.000000,205.000000,224.000000,223.000000,212.000000,211.000000,212.000000
mean,2.874028e+07,5.982270e+05,379.047137,21.165330,0.038125,35.506964,9689.823009,82.838278,236.061435,13.797111,4.564222,81.638311,2.139024,22.114732,9.241345,0.150844,0.282711,0.565283
std,1.178913e+08,1.790282e+06,1660.185825,72.286863,4.889269,35.389899,10049.138513,19.722173,227.991829,13.040402,8.361470,16.140835,0.699397,11.176716,4.990026,0.146798,0.138272,0.165841
min,7.026000e+03,2.000000e+00,0.000000,0.000000,-20.990000,2.290000,500.000000,17.600000,0.200000,0.000000,0.000000,33.330000,1.000000,7.290000,2.290000,0.000000,0.020000,0.062000
25%,4.376240e+05,4.647500e+03,29.150000,0.100000,-0.927500,8.150000,1900.000000,70.600000,37.800000,3.220000,0.190000,71.650000,2.000000,12.672500,5.910000,0.037750,0.193000,0.429250
50%,4.786994e+06,8.660000e+04,78.800000,0.730000,0.000000,21.000000,5550.000000,92.500000,176.200000,10.420000,1.030000,85.700000,2.000000,18.790000,7.840000,0.099000,0.272000,0.571000
75%,1.749777e+07,4.418110e+05,190.150000,10.345000,0.997500,55.705000,15700.000000,98.000000,389.650000,20.000000,4.440000,95.440000,3.000000,29.820000,10.605000,0.221000,0.341000,0.678500
max,1.313974e+09,1.707520e+07,16271.500000,870.660000,23.060000,191.190000,55100.000000,100.000000,1035.600000,62.110000,50.680000,100.000000,4.000000,50.730000,29.740000,0.769000,0.906000,0.954000

In [11]:
GDP.isnull()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
223,False,False,False,False,False,False,True,True,True,True,True,False,False,False,False,True,True,True,True,False
224,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
225,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
226,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
GDP.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [13]:
GDP['GDP ($ per capita)'].fillna(value=GDP['GDP ($ per capita)'].mean(),inplace=True)
GDP['Literacy (%)'].fillna(GDP.groupby('Region')['Literacy (%)'].transform('median'), inplace= True)
GDP['Phones (per 1000)'].fillna(GDP.groupby('Region')['Phones (per 1000)'].transform('median'), inplace= True)
GDP['Birthrate'].fillna(GDP.groupby('Region')['Birthrate'].transform('mean'), inplace= True)
GDP['Deathrate'].fillna(GDP.groupby('Region')['Deathrate'].transform('mean'), inplace= True)
GDP['Agriculture'].fillna(value=GDP["Agriculture"].mean(),inplace=True)
GDP['Service'].fillna(value=GDP["Service"].mean(),inplace=True)
GDP['Net migration'].fillna(0, inplace=True)
GDP['Infant mortality (per 1000 births)'].fillna(0, inplace=True)
GDP['Arable (%)'].fillna(0, inplace=True)
GDP['Crops (%)'].fillna(0, inplace=True)
GDP['Other (%)'].fillna(0, inplace=True)
GDP['Climate'].fillna(0, inplace=True)
GDP['Industry'].fillna((1 - GDP['Agriculture'] - GDP['Service']), inplace= True)

In [14]:
GDP

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.000000,36.0,3.2,12.13,0.22,87.65,1.0,46.600,20.340,0.380000,0.240000,0.380000
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.000000,86.5,71.2,21.09,4.42,74.49,3.0,15.110,5.220,0.232000,0.188000,0.579000
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.000000,70.0,78.1,3.22,0.25,96.53,1.0,17.140,4.610,0.101000,0.600000,0.298000
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.000000,97.0,259.5,10.00,15.00,75.00,2.0,22.460,3.270,0.150844,0.283873,0.565283
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.000000,100.0,497.2,2.22,0.00,97.78,3.0,8.710,6.250,0.150844,0.283873,0.565283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.000000,83.0,145.2,16.90,18.97,64.13,3.0,31.670,3.920,0.090000,0.280000,0.630000
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,0.00,0.00,9689.823009,70.0,123.6,0.02,0.00,99.98,1.0,20.814,4.806,0.150844,0.449156,0.400000
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.000000,50.2,37.2,2.78,0.24,96.98,1.0,42.890,8.300,0.135000,0.472000,0.393000
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.000000,80.6,8.2,7.08,0.03,92.90,2.0,41.000,19.930,0.220000,0.290000,0.489000
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.000000,90.7,26.8,8.32,0.34,91.34,2.0,28.010,21.840,0.179000,0.243000,0.579000

In [15]:
GDP.isnull().sum()

Country                               0
Region                                0
Population                            0
Area (sq. mi.)                        0
Pop. Density (per sq. mi.)            0
Coastline (coast/area ratio)          0
Net migration                         0
Infant mortality (per 1000 births)    0
GDP ($ per capita)                    0
Literacy (%)                          0
Phones (per 1000)                     0
Arable (%)                            0
Crops (%)                             0
Other (%)                             0
Climate                               0
Birthrate                             0
Deathrate                             0
Agriculture                           0
Industry                              0
Service                               0
dtype: int64

In [16]:
GDP.duplicated(subset=None,keep="first").sum()

0

In [17]:
GDP.Country = GDP.Country.astype('category')
GDP.Region  = GDP.Region.astype('category')

In [18]:
GDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    category
 1   Region                              227 non-null    category
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           227 non-null    float64
 16  Deathrate                           227 non-null    float64
 17  Agriculture                         227 non-null    float64
 18  Industry                            227 non-null    float64
 19  Service                             227 non-null    float64
dtypes: category(2), float64(16), int64(2)
memory usage: 43.0 KB

In [19]:
GDP.corr()['GDP ($ per capita)'].sort_values()

Birthrate                            -0.643708
Infant mortality (per 1000 births)   -0.591304
Agriculture                          -0.570735
Crops (%)                            -0.218821
Deathrate                            -0.197793
Population                           -0.039319
Industry                             -0.028749
Arable (%)                            0.018044
Coastline (coast/area ratio)          0.049109
Area (sq. mi.)                        0.072179
Other (%)                             0.081265
Climate                               0.116381
Pop. Density (per sq. mi.)            0.195751
Net migration                         0.382006
Literacy (%)                          0.507845
Service                               0.529995
Phones (per 1000)                     0.831814
GDP ($ per capita)                    1.000000
Name: GDP ($ per capita), dtype: float64

In [20]:
GDP.to_excel('GDP after processing.xlsx')